<!-- Aca incluimos los fragmentos del <head> y del <header> -->
<%- include("partials/head.ejs") %>
    <%- include("partials/nav.ejs") %>

        <main>

            <section>
                <!-- Formulario de creacion productos -->
                <h2>
                    <%= about %>
                </h2>
                <div class="form-container">

                    <form id="postProduct-form" class="form-alta">
                        <label for="nameProd">Nombre</label>
                        <input type="text" name="name" id="nameProd" required>

                        <label for="imageProd">Imagen</label>
                        <input type="text" name="image" id="imageProd" required>

                        <label for="categoryProd">Categoria</label>
                        <select name="category" id="categoryProd" required>
                            <option value="iluminacion">luces</option>
                            <option value="sonido">audio</option>
                        </select>

                        <label for="priceProd">Precio</label>
                        <input type="number" name="price" id="priceProd" required>

                        <div class="boton-form">
                            <input class="boton" type="submit" value="Crear producto">
                        </div>
                    </form>
                </div>



                <!-- Formulario de creacion de usuarios admin -->
                <h2>Crear usuarios admin</h2>
                <div class="form-container">

                    <form id="postUser-form" class="form-alta">

                        <!-- Nombre de usuario -->
                        <label for="nameUser">Nombre</label>
                        <input type="text" name="nameUser" id="nameUser" required>

                        <!-- Email de usuario -->
                        <label for="emailUser">Email</label>
                        <input type="email" name="emailUser" id="emailUser" required>

                        <!-- Password de usuario -->
                        <label for="passwordUser">Password</label>
                        <input type="password" name="passwordUser" id="passwordUser" required>

                        <div class="boton-form">
                            <input class="boton" type="submit" value="Crear usuario">
                        </div>

                    </form>

                </div>

            </section>

            <section class="secccion-productos">
                <div id="contenedor-productos">

                </div>
            </section>
        </main>

        <script src="/js/post.js"></script>
        <%- include("partials/footer.ejs") %>