<header>
    <div class="logo-container">
        <a href="/dashboard/index" class="logo">
            <img src="/assets/img/logo-onda.svg" alt="logo">
        </a>
    </div>

    <ul class="enlaces">
        <li class="enlace">
            <a href="/dashboard/index">
                <span>VER</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/consultar">
                <span>CONSULTAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/crear">
                <span>CREAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/modificar">
                <span>MODIFICAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/eliminar">
                <span>ELIMINAR</span>
            </a>
        </li>
    </ul>

    <!-- Boton de logout -->
    <form class="form-logout" action="/login/destroy" method="post">
        <input class="boton" type="submit" value="Cerrar sesion">
    </form>
</header>